# Generic folder
backup/

# Generic file
*.code-workspace
*.log
*.zip
.git*

# Test folder
temp/
test/

# Test file
temp.*
test.*

# Project file
.env
TODO.md

# Secrets and credentials
secret/credential.md
document/Secret.md

# Secrets and credentials
secret/
pid
Data.json
Package.sh
