# Proxmox API
PVEO_API_BASE_URL="https://proxmox.domain.tld"
PVEO_API_PVE_USER="root@pam" # root@pam
PVEO_API_ID="Test"
PVEO_API_TOKEN="1234abcd-12ab-12ab-12ab-123456abcdef"
PVEO_API_CONNECTION_TIMEOUT=30 # Seconds

# Threshold
PVEO_RESOURCE_CPU_THRESHOLD_LOW=2 # Percent
PVEO_RESOURCE_CPU_THRESHOLD_HIGH=4 # Percent

PVEO_RESOURCE_MEMORY_THRESHOLD_LOW=50 # Percent
PVEO_RESOURCE_MEMORY_THRESHOLD_HIGH=70 # Percent

PVEO_RESOURCE_STORAGE_THRESHOLD_LOW=33 # Percent
PVEO_RESOURCE_STORAGE_THRESHOLD_HIGH=67 # Percent

# Change factor
PVEO_RESOURCE_CPU_LIMIT_INCREMENT=25 # Percent of current allocation
PVEO_RESOURCE_CPU_LIMIT_DECREMENT=25 # Percent of current allocation

PVEO_RESOURCE_MEMORY_INCREMENT=25 # Percent of current allocation
PVEO_RESOURCE_MEMORY_DECREMENT=25 # Percent of current allocation

PVEO_RESOURCE_STORAGE_INCREMENT=25 # Percent of current allocation
PVEO_RESOURCE_STORAGE_DECREMENT=25 # Percent of current allocation

# Limit
PVEO_RESOURCE_CPU_LIMIT_MINIMUM=0.25
PVEO_RESOURCE_CPU_LIMIT_MAXIMUM=1

PVEO_RESOURCE_MEMORY_MINIMUM=16 # MB
PVEO_RESOURCE_MEMORY_MAXIMUM=4096 # MB

PVEO_RESOURCE_STORAGE_MINIMUM=2048 # MB
PVEO_RESOURCE_STORAGE_MAXIMUM=32768 # MB

# TRUE = Reduce CPU capacity for HIGH trend to stabilize system condition
# FALSE = Increase CPU capacity for quicker task finishing
PVEO_RESOURCE_CPU_REVERSE_LOGIC=true

# SWAP
PVEO_RESOURCE_SWAP_MINIMUM=256 # MB
PVEO_RESOURCE_SWAP_MAXIMUM=8192 # MB

# Optimization process
PVEO_PASS_COUNT=5 # Number of samples to collect
PVEO_PASS_INTERVAL=3 # Seconds to wait between sample collection
PVEO_OPTIMIZE_COUNT=1 # Number of optimization process to run
PVEO_RECOMMENDATION_ONLY=false # TRUE = Do not apply recommendation automatically

# Start another instance after exit; keep running
# Keep `stop.command` file to prevent and exit forked instances
PVEO_FORK=false

# SMTP configuration
PVEO_SMTP_HOST="smtp.domain.tld"
PVEO_SMTP_PORT=465
PVEO_SMTP_SECURITY= "SSL" # NONE | SSL | TLS
PVEO_SMTP_USER="no-reply@domain.tld"
PVEO_SMTP_PASSWORD="SMTP-PASSWORD"
PVEO_SMTP_FROM_NAME="PVE Optimizer"
PVEO_SMTP_FROM_EMAIL="no-reply@domain.tld"

PVEO_NOTIFICATION_EMAIL="admin@domain.tld" # Sent email notification to this addresses; comma separated
PVEO_NOTIFICATION_EMAIL_DELAY=3600

PVEO_WEBHOOK_IDENTITY="proxmox.domain.tld" # Identity to submit to webhook
PVEO_WEBHOOK_BEARER_AUTHORIZATION_KEY="WebHook-Secret-Authorization-Key" # Bearer authorization key for spam protection; get from WebHook endpoint
PVEO_WEBHOOK_URL="https://monitor.domain.tld/webhook/custom/pveo.php" # WebHook is called per optimization process

# Artificial intelligence
# - AI analysis is generated only with notification email
PVEO_OPENAI_API_BASE_URL="http://openwebui.domain.tld:8080"
PVEO_OPENAI_API_KEY="sk-1234abcd1234abcd1234abcd1234abcd"
PVEO_OPENAI_MODEL="qwen3-coder-next:latest"

# Log
PVEO_PHP_ERROR_LOG_SIZE_LIMIT=10 # KB

